h1 {
  color: #FFFFFF;
}

.weather-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #FC6C43;
}

.navbar-brand {
  color: #FFFFFF;
}

.navbar-brand:hover {
  color: #FFE590;
}

.navbar-form input {
  margin-right: 10px;
}
